@mixin button-style($bg-color, $hover-color) {
    background-color: $bg-color;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $hover-color;
    }
}

@mixin box-shadow($color, $opacity) {
    box-shadow: 0 4px 10px rgba($color, $opacity);
}