$primary-color: #007bff;
$hover-color: #0056b3;
$error-color: #e74c3c;
$success-color: #2ecc71;

// Background Colors
$background-light: #f4f4f4;

// Border Colors
$border-light: #ddd;
$input-border: #ccc;
$input-border-focus: #007bff;

// Text Colors
$text-dark: #333;
$text-light: #555;

// Button Colors
$button-bg: #007bff;
$button-hover-bg: #0056b3;
$button-text-color: #ffffff;

// Box Shadow
$box-shadow-color: rgba(0, 0, 0, 0.1);
$focus-shadow-color: rgba(0, 123, 255, 0.5);

//Nav Bar
$nav-background-color: #ffffff;
$nav-a: #053473;
$nav-link: #053473;
$nav-link-hover: #a4d5f0;
$nav-border: #ccc;
$nav-dropdown-header: #f1f1f1;
$nav-item-hover: #ddd;
$nav-hover-dropdown-dropbtn: #E5EFFC;

//footer
$footer-color: #ffffff;
$footer-background-color: #180346;

//sidebar
$side-background-color: #fff;
$side-color: #fff;