/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  font-size: 1.8rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 400px;
  margin: 50px auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.login-container img {
  margin-left: 43%;
  height: 10vh;
  width: 10vh;
}
.login-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-container form label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
}
.login-container form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-container form input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
.login-container form button {
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.login-container form button:hover {
  background-color: #0056b3;
}

/* Navigation bar styles */
.navbar {
  background-color: #ffffff;
  padding: 1rem;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  background: none;
  color: #053473;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #a4d5f0;
  border-radius: 4px;
}

/* Dropdown menu styles */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 0.5rem 0;
  list-style: none;
  width: 150px;
}

.dropdown-header {
  font-weight: bold;
  padding: 0.5rem;
  background-color: #f1f1f1;
}

.dropdown-item {
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ddd;
}

.footer {
  font-size: 20px;
  color: #ffffff;
  background-color: #180346;
  text-align: center;
  /*background-color: black;
      color: white;
      padding: 20px;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;*/
}

.app-layout {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  color: #fff;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
}

.active {
  font-weight: bold;
}

.table-container {
  padding: 1rem;
}

.table-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 0.875rem;
  background-color: #f9f9f9;
}

.table-container th,
.table-container td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid #ddd;
}

.table-container th {
  background-color: #4a5568;
  color: #fff;
  font-weight: 600;
}

.table-container td {
  color: #555;
}

.table-container tbody tr:nth-child(even) {
  background-color: #f3f4f6;
}

.table-container tbody tr:hover {
  background-color: #e2e8f0;
}

.table-container .delete-button {
  background-color: #e53e3e;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  margin-right: 0.5rem;
}

.table-container .update-button {
  background-color: #3182ce;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
}

.table-container .delete-button:hover,
.table-container .update-button:hover {
  opacity: 0.9;
}

.customDialog {
  width: 1000px;
  height: 800px;
}

/*# sourceMappingURL=main.css.map */
